{{template "header.html" .}}

<section class="section">
  <div class="container">
    <h1 class="title">{{if eq .PageData.ID 0}}New{{else}}Edit{{end}} Announcement</h1>

    <form action="/admin/announcement/save" method="post">

      <div class="field" hidden>
        <label class="label">ID</label>
        <div class="control">
          <input class="input" type="number" name="ID" value="{{.PageData.ID}}" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Conference</label>
        <div class="select">
          <select name="ConferenceID">
            {{range .Conferences}}
              <option value="{{.ID}}" {{if eq .ID $.DefaultConferenceID}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="Title" value="{{.PageData.Title}}" maxlength="65" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Message Preview</label>
        <div class="control">
          <textarea class="textarea" name="Message" rows="3" maxlength="240" required>{{.PageData.Message}}</textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Full Message</label>
        <div class="control">
          <textarea class="textarea" name="LongMessage" rows="5" maxlength="1000" required>{{.PageData.LongMessage}}</textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Icon</label>
        <div class="select">
          <select name="Icon">
            <option value="exclamation-triangle" {{if eq .PageData.Icon "exclamation-triangle"}}selected{{end}}>Alert</option>
            <option value="newspaper" {{if eq .PageData.Icon "newspaper"}}selected{{end}}>News</option>
            <option value="cloud-sun" {{if eq .PageData.Icon "cloud-sun"}}selected{{end}}>Weather</option>
            <option value="subway" {{if eq .PageData.Icon "subway"}}selected{{end}}>Transportation</option>
            <option value="question" {{if eq .PageData.Icon "question"}}selected{{end}}>Question</option>
            <option value="handshake" {{if eq .PageData.Icon "handshake"}}selected{{end}}>Handshake</option>
            <option value="envelope" {{if eq .PageData.Icon "envelope"}}selected{{end}}>Envelope</option>
            <option value="microphone" {{if eq .PageData.Icon "microphone"}}selected{{end}}>Microphone</option>
            <option value="bullhorn" {{if eq .PageData.Icon "bullhorn"}}selected{{end}}>Megaphone</option>
            <option value="virus" {{if eq .PageData.Icon "virus"}}selected{{end}}>Virus</option>
            <option value="baby" {{if eq .PageData.Icon "baby"}}selected{{end}}>Child</option>
            <option value="hamburger" {{if eq .PageData.Icon "hamburger"}}selected{{end}}>Vegan Burger</option>
            <option value="bread" {{if eq .PageData.Icon "bread"}}selected{{end}}>Bread</option>
            <option value="chalkboard-teacher" {{if eq .PageData.Icon "chalkboard-teacher"}}selected{{end}}>Teacher</option>
            <option value="book-open" {{if eq .PageData.Icon "book-open"}}selected{{end}}>Book</option>
            <option value="users" {{if eq .PageData.Icon "users"}}selected{{end}}>Friends</option>
            <option value="heart" {{if eq .PageData.Icon "heart"}}selected{{end}}>Heart</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Send Time</label>
        <div class="control">
          <input class="input" type="date" name="SendTime" value="{{.PageData.SendTime}}" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Link URL (Optional)</label>
        <div class="control">
          <input class="input" type="text" name="URL" value="{{.PageData.URL}}" maxlength="512">
        </div>
      </div>

      <div class="field">
        <label class="label">Link Text (Optional)</label>
        <div class="control">
          <input class="input" type="text" name="URLText" value="{{.PageData.URLText}}" maxlength="100">
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Submit</button>
        </div>
        <div class="control">
          <a href="/admin/announcements" class="button is-link is-light">Cancel</a>
        </div>
      </div>

    </form>

  </div>
</section>

{{template "footer.html" .}}