{{template "header.html" .}}

<section class="section">
  <div class="container">
    <h1 class="title">{{if eq .PageData.ID 0}}New{{else}}Edit{{end}} Announcement</h1>

    <form action="/admin/announcement/save" method="post">

      <div class="field" hidden>
        <label class="label">ID</label>
        <div class="control">
          <input class="input" type="number" name="ID" value="{{.PageData.ID}}" readonly>
        </div>
      </div>

      <div class="field">
        <label class="label">Conference</label>
        <div class="select">
          <select name="ConferenceID">
            {{range .Conferences}}
              <option value="{{.ID}}" {{if eq .ID $.DefaultConferenceID}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Title</label>
        <div class="control">
          <input class="input" type="text" name="Title" value="{{.PageData.Title}}" maxlength="65" required>
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" name="Message" rows="4" maxlength="240" required>{{.PageData.Message}}</textarea>
        </div>
      </div>

      <div class="field">
        <label class="label">Icon</label>
        <div class="select">
          <select name="Icon">
            <option value="exclamation-triangle" {{if eq .PageData.Icon "exclamation-triangle"}}selected{{end}}>Alert</option>
            <option value="newspaper-o" {{if eq .PageData.Icon "newspaper"}}selected{{end}}>News</option>
            <option value="cloud" {{if eq .PageData.Icon "cloud-sun"}}selected{{end}}>Weather</option>
            <option value="bus" {{if eq .PageData.Icon "subway"}}selected{{end}}>Transportation</option>
            <option value="question" {{if eq .PageData.Icon "question"}}selected{{end}}>Question</option>
            <option value="handshake-o" {{if eq .PageData.Icon "handshake"}}selected{{end}}>Handshake</option>
            <option value="envelope-o" {{if eq .PageData.Icon "envelope"}}selected{{end}}>Envelope</option>
            <option value="microphone" {{if eq .PageData.Icon "microphone"}}selected{{end}}>Microphone</option>
            <option value="microphone" {{if eq .PageData.Icon "bullhorn"}}selected{{end}}>Megaphone</option>
            <option value="virus" {{if eq .PageData.Icon "virus"}}selected{{end}}>Virus</option>
          </select>
        </div>
      </div>

      <div class="field">
        <label class="label">Send Time</label>
        <div class="control">
          <input class="input" type="date" name="SendTime" value="{{.PageData.SendTime}}" required>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Submit</button>
        </div>
        <div class="control">
          <a href="/admin/announcements" class="button is-link is-light">Cancel</a>
        </div>
      </div>

    </form>

  </div>
</section>

{{template "footer.html" .}}