{{template "header.html" .}}

<section class="section">
  <div class="container">
    <h1 class="title">{{if eq .PageData.Event.ID 0}}New{{else}}Edit{{end}} Event</h1>

      <form action="/admin/event/save" method="post">

        <div class="field" hidden>
          <label class="label">ID</label>
          <div class="control">
            <input class="input" type="number" name="ID" value="{{.PageData.Event.ID}}" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label">Conference</label>
          <div class="select">
            <select name="ConferenceID">
              {{range .Conferences}}
                <option value="{{.ID}}" {{if eq .ID $.DefaultConferenceID}}selected{{end}}>{{.Name}}</option>
              {{end}}
            </select>
          </div>
        </div>

        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" name="Name" value="{{.PageData.Event.Name}}" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea" name="Description" rows="4">{{.PageData.Event.Description}}</textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Start Time</label>
          <div class="control">
            <input class="input" type="date" name="StartTime" value="{{.PageData.Event.StartTime}}" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Length <span style="font-weight: normal">(minutes)</span></label>
          <div class="control">
            <input class="input"
                   type="number"
                   name="Length"
                   min="0"
                   value="{{.PageData.Event.Length}}"
                   required>
          </div>
        </div>

        <div class="field">
          <label class="label">Location</label>
          <div class="select">
            <select name="LocationID">
              {{range .PageData.Locations}}
              <option value="{{.ID}}" {{if eq .ID $.PageData.Event.LocationID}}selected{{end}}>{{.Name}}</option>
              {{end}}
            </select>
          </div>
        </div>

<!--        TODO: show a form to upload an image instead of asking for an ID-->
        <div class="field">
          <label class="label">Image ID</label>
          <div class="control">
            <input class="input" type="text" name="ImageID" value="{{if .PageData.Event.ImageID.Valid}}{{.PageData.Event.ImageID}}{{end}}">
          </div>
        </div>

        <div class="field">
          <div class="control">
              <label class="checkbox">
                  <input type="checkbox" name="KeyEvent" {{if .PageData.Event.KeyEvent}}checked{{end}}>
                  <strong>Key Event</strong> (featured on Home screen of app)
              </label>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
          <div class="control">
              <a href="/admin/events" class="button is-link is-light">Cancel</a>
          </div>
        </div>

    </form>

  </div>
</section>

{{template "footer.html" .}}