<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ALC Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/static/bulma-responsive-tables/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/trix/1.3.1/trix.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>

        Trix.config.toolbar.getDefaultHTML = () => {
            return `{{template "trix_toolbar.html" .}}`
        }
    </script>
</head>
<body>

<nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/admin">
            <strong>ALC Admin</strong>
        </a>

        <a role="button" class="navbar-burger" data-target="navbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item {{if (eq .PageName "conferences")}}is-active{{end}}" href="/admin/conferences">
                Conferences
            </a>
            <a class="navbar-item {{if (eq .PageName "locations")}}is-active{{end}}" href="/admin/locations">
                Locations
            </a>
            <a class="navbar-item {{if (eq .PageName "events")}}is-active{{end}}" href="/admin/events">
                Events
            </a>
            <a class="navbar-item {{if (eq .PageName "info")}}is-active{{end}}" href="/admin/info">
                Info
            </a>
            <a class="navbar-item {{if (eq .PageName "announcements")}}is-active{{end}}" href="/admin/announcements">
                Announcements
            </a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light" href="/logout">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
