{{template "header.html" .}}

<section class="section">
  <div class="container">
    <h1 class="title">{{if eq .PageData.ID 0}}New{{else}}Edit{{end}} Info</h1>

      <form action="/admin/info/save" enctype="multipart/form-data" method="post">

        <div class="field" hidden>
          <label class="label">ID</label>
          <div class="control">
            <input class="input" type="number" name="ID" value="{{.PageData.ID}}" readonly>
          </div>
        </div>

        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <input class="input" type="text" name="Title" value="{{.PageData.Title}}" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Subtitle</label>
          <div class="control">
            <input class="input" type="text" name="Subtitle" value="{{.PageData.Subtitle}}" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Content</label>
          <div class="control">
            <input id="content" type="hidden" name="Content" value="{{.PageData.Content}}">
            <trix-editor input="content"></trix-editor>
          </div>
        </div>

        <div class="field">
          <label class="label">Icon</label>
          <div class="select">
              <select name="Icon">
                <option value="exclamation-triangle" {{if eq .PageData.Icon "exclamation-triangle"}}selected{{end}}>Alert</option>
                <option value="newspaper" {{if eq .PageData.Icon "newspaper"}}selected{{end}}>News</option>
                <option value="cloud-sun" {{if eq .PageData.Icon "cloud-sun"}}selected{{end}}>Weather</option>
                <option value="subway" {{if eq .PageData.Icon "subway"}}selected{{end}}>Transportation</option>
                <option value="question" {{if eq .PageData.Icon "question"}}selected{{end}}>Question</option>
                <option value="handshake" {{if eq .PageData.Icon "handshake"}}selected{{end}}>Handshake</option>
                <option value="envelope" {{if eq .PageData.Icon "envelope"}}selected{{end}}>Envelope</option>
                <option value="microphone" {{if eq .PageData.Icon "microphone"}}selected{{end}}>Microphone</option>
                <option value="bullhorn" {{if eq .PageData.Icon "bullhorn"}}selected{{end}}>Megaphone</option>
                <option value="virus" {{if eq .PageData.Icon "virus"}}selected{{end}}>Virus</option>
                <option value="baby" {{if eq .PageData.Icon "baby"}}selected{{end}}>Child</option>
                <option value="hamburger" {{if eq .PageData.Icon "hamburger"}}selected{{end}}>Vegan Burger</option>
                <option value="bread" {{if eq .PageData.Icon "bread"}}selected{{end}}>Bread</option>
                <option value="chalkboard-teacher" {{if eq .PageData.Icon "chalkboard-teacher"}}selected{{end}}>Teacher</option>
                <option value="book-open" {{if eq .PageData.Icon "book-open"}}selected{{end}}>Book</option>
                <option value="users" {{if eq .PageData.Icon "users"}}selected{{end}}>Friends</option>
                <option value="heart" {{if eq .PageData.Icon "heart"}}selected{{end}}>Heart</option>
              </select>
          </div>
        </div>

        <div class="field">
          <label class="label">Display Order</label>
          <div class="control">
            <input class="input" type="number" name="DisplayOrder" value="{{.PageData.DisplayOrder}}" required>
          </div>
        </div>

        <div class="field" id="file-upload">
          <label class="label">Image</label>
          <div class="file has-name">
            <label class="file-label">
              <input id="file-input" class="file-input" type="file" name="Image" accept="image/jpeg">
              <span class="file-cta">
                <span class="file-label">
                  Choose a file (jpg)…
                </span>
              </span>
              <span class="file-name">
                {{.PageData.ImageURL.String}}
              </span>
            </label>
          </div>
          {{if .PageData.ImageURL.Valid}}
            <a id="remove-image-button" onclick="clearFileName()">Remove image</a><br/>
            <a href="{{.PageData.ImageURL.String}}" target="_blank">Download image</a>
          {{end}}
        </div>

        <div class="field" hidden>
          <label class="label">Image URL</label>
          <div class="control">
            <input id="image-url" class="input" type="text" name="ImageURL" value="{{.PageData.ImageURL.String}}">
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
          <div class="control">
              <a href="/admin/info" class="button is-link is-light">Cancel</a>
          </div>
        </div>

    </form>

  </div>
</section>

<script>
  const fileInput = document.querySelector('#file-upload input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#file-upload .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }

  function clearFileName() {
    document.querySelector('#file-upload .file-name').textContent = "";
    document.querySelector('#image-url').value = "";
    document.querySelector("#image-preview").style.display = "none";
    document.querySelector("#remove-image-button").style.display = "none";
  }
</script>

{{template "footer.html" .}}